.logo {
  width: 80px;
  height: auto;
}

.nav-item {
  font-size: 19px;

  margin-left: 10px;
  margin-right: 10px;
}
.fs-4{
  color: #F2F2F2;
}
.container {
  background-color: #4F758C;
}

.text {
  color: rgb(255, 255, 255);
  font-size: 19px;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;

}

.text:hover {
  border: 3px solid #2F2B8C;
  border-radius: 50px;
  transition: 1s ease-in-out;
  color: #F2F2F2;

}
.colorfoot{
  color: #F2F2F2;
}
.icons {
  width: 30px;
  height: 30px;
}


.card-img-top{
  width: 100%;
  height: 200px;
}

.col-xl-3{
  text-align: center;
}
.centerimg{
  display: block;
  margin:  0 auto;
  
  max-width: 100%;
    height: auto;
  
}
.imgcenter{
  text-align: center;
}
.textpronas{
  width: 100%;
  margin: auto;
  font-size: 1.5vw;
}
.textcol{
  margin: auto;
  
  padding: 20px 10%;
}
.card{
  margin: auto;
}
.row-cards{
  padding: 2% 10%;
}
.row-cards1{
  padding: 0% 10%;
}
.zagolovok{
  text-align: center;
  padding: 2%;
}
.carousel{
  text-align: center;
  margin: 0% 10%;
}
.vidguktext{
  margin: 0% 10%;
}

.vidgukall{
  background-color: #5EB5BF;
  clip-path: polygon(50% 10%, 80% 10%, 93% 100%, 75% 100%, 25% 100%, 7% 100%, 20% 10%);
}

.scale {
  transition: 1s; 
 }
 .scale:hover {
  transform: scale(1.2); }



  .nunito{
    font-family: 'Nunito', sans-serif;
  }
  .gentium{
  font-family: 'Gentium Plus', serif;
  }

  .color-svg {
    fill: #F2F2F2;
    width: 50px;
    height: 50px;
  }
  
  .color-svg-foot {
    fill: #F2F2F2;
  }
  


